body.bg-login {
  background-color: var(--color-primary);
}

body.bg-default {
  background-color: var(--color-gray-light);
  /* background-color: #e2e7f8; */
}

.contenedor-card{
  background-color: var(--color-white);;
  padding: 2rem;
  border-radius: 12px;
}

.cont-fluid {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  min-height: 71.8vh;
}

.form-control {
  border-radius: 8px;
  border: 1px solid var(--color-gray);
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 5px var(--color-primary-light);
}

.form-select:hover {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-light);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.btn-primary {
  background-color: var(--color-primary);
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-primary:disabled {
  background-color: var(--color-primary) !important;
  border: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-primary:focus,
.btn-primary:focus-visible {
  background-color: var(--color-primary) !important;
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem var(--color-primary-light);
}

.badge.bg-primary {
  background-color: var(--color-primary) !important;
  color: white;
}

.custom-badge {
  background-color: #ede9fe;
  color: var(--color-primary);
  font-weight: 500;
  padding: 0.4em 0.6em;
  border-radius: 1rem;
}

.input-group {
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  overflow: hidden;
}

.input-group .form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.input-group .btn {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.input-group:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 5px var(--color-primary-light);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group .btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card {
  border: 1px solid rgba(139, 92, 246, 0.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}